[mysqld]
character-set-server=utf8mb4
explicit_defaults_for_timestamp=1
innodb_large_prefix=1
innodb_file_per_table=1
innodb_file_format=Barracuda
innodb_file_format_max=Barracuda

[client]
default-character-set=utf8mb4
